<?xml version="1.0"?>
<config>
<modules>
<F5_Pleisty>
<version>0.1.0</version>
</F5_Pleisty>
</modules>

<adminhtml>
    <layout>
        <updates>
            <pleisty>
                <file>pleisty.xml</file>
            </pleisty>
        </updates>
    </layout>
</adminhtml>
<frontend>
	
<layout>
<updates>
<pleisty>
<file>pleisty.xml</file>
</pleisty>
</updates>
</layout>
</frontend>
</config>